<div class="contentt">
  <div class="container">

    <div class="taodanhmuc">
      <h1>Tạo Quảng Cáo</h1>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div>
          <input formControlName="name" type="text" placeholder="Enter name..." />
        </div> <br>
        <div class="selectt">
          <input (change)="onFileSelect($event)" type="file" />
        </div><br>
        <div class="inimg" *ngIf="imageData">
          <img [src]="imageData" [alt]="form.value.name" />
        </div><br>
        <div>
          <button type="submit">Tạo Quảng Cáo</button>
        </div>
      </form>
    </div>

    <div class="maincontainer">
      <h1>Danh Sách Quảng Cáo</h1>
      <div class="table-wrapper">
          <table class="fl-table">
            <tr>
              <th width = "60%">Hình Ảnh</th>
              <th width = "25%">Tên Quảng Cáo</th>
              <th width = "10%">Trạng Thái</th>
              <th width = "15%">Action</th>
            </tr>
            <tr *ngFor="let category of adss">
              <td class="anh00">
                <img [src]="category.imagePath" [alt]="category.name">
              </td>
              <td>{{category.name}}</td>
              <td>{{category.status}}</td>
              <td class="buttonn">
                <button class="crud" mat-flat-button color="warn">Tắt</button>
                <button class="crud" mat-flat-button color="primary">Xóa</button>
              </td>
            </tr>
          <tbody>
          </table>
      </div>
    </div>


  </div>
</div>
