<div class="content">
  <h1>Sản Phảm Chờ Duyệt</h1>
<table style="width:100%">
  <tr>
    <th>Hình Ảnh</th>
    <th>Tên Sản Phẩm</th>
    <th>Người Đăng</th>
    <th>Ngày Đăng</th>
    <th>Loại Sản Phẩm</th>
    <th>Địa Chỉ</th>
    <th>Giá Sản Phẩm</th>
    <th>Duyệt</th>
    <th>Xóa</th>
    <th>Phản Hồi</th>
  </tr>
  <tr *ngFor = "let product of profiles" >
    <td><img [src]="product.imagePath" [alt]="product.productName"></td>
    <td>{{product.productName}}</td>
    <td>{{product.nguoi_dang_sp}}</td>
    <td>{{product.ngay_dang}}</td>
    <td>{{product.loai_sp}}</td>
    <td>{{product.productAddress}}</td>
    <td style="text-align: center; color: red; font-weight: 200px;" >{{product.productPrice}}</td>
    <td (click)="this.AdminService.duyetSp(product)" class="button"><button mat-flat-button color="warn">Duyệt</button></td>
    <td class="button"><button (click)="delete(product)" mat-flat-button color="primary">Xóa</button></td>
    <td [routerLink]="['/report/' + product._id]" class="button"><button style="background-color: rgb(39, 39, 39);" mat-flat-button color="primary">Phản Hồi</button></td>
  </tr>
</table>
</div>

