body{
    background: #f1f1f1;
  }
  
  .anh01{
    margin: 20px;
    width: 120px;
    height: 120px;
  }
  
  .avt{
    margin-left: auto;
    margin-right: auto;
    width:inherit;
    height:inherit;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .ten01{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hoten01{
    font-size: 18px;
    font-weight: 600;
    font-family: Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .inf01{
    margin: 10px auto;
  }
  
  .btne{
    background-color: #fff;
    color: #000;
    border: 1px solid #d7d9dc;
    cursor: pointer;
    text-align: center;
    line-height: 1.5;
    min-width: 125px;
    font-size: 14px;
    border-radius: 20px;
    outline: 0;
    padding: 4px 10px;
    min-height: 30px;
    transition: opacity 200ms ease-in-out;
  }
  
  .div01{
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 20px auto;
    width: 75%;
  }
  
  .div02{
    background: white;
    height: 300px;
    margin: 20px auto;
    width: 75%;
  }
  
  .containleft{
    display: flex;
    border-right: 1px solid #eee;
    border-bottom: none;
    justify-content: center;
  }
  
  .item01{
    height: 20px;
    margin: 5px 0;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    color: #9b9b9b; 
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
  }
  
  .left01{
    width: 100%;
  }
  
  .right01{
    width: 100%;
  }
  
  .containright{
    padding: 15px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  
  .iconright{
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .item01 span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282f39;
  }
  
  .title4 span {
    font-weight: 500;
    color: #999;
  }
  
  .title4{
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    font-family: Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .contain02{
    padding: 15px;
  }
  
  .parent {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

   .visual {
    height: 100px;
    width: 100%;
  }

   .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }

   h3 {
    margin: 0
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
  }