<div>
    <div class="div01">
        <div class="left01">
            <div class="containleft">
                <div class="anh01">
                    <img class="avt" src="../../../../assets/avatar.svg" alt="{{data.userName}}">
                </div>
                <div class="ten01">
                    <span class="hoten01 inf01">
                        {{data.userName}}
                    </span>
                    <!-- <div [routerLink]="['/userupdate/' + data._id]" class="chinhsua inf01">
                      <button class="btne">Chỉnh sửa trang cá nhân</button>
                  </div> -->
                </div>
            </div>
        </div>
        <div class="right01">
            <div class="containright">
                <div class="ngthamgia item01">
                    <img class="iconright" src="https://www.chotot.com/user/static/img/calendar.png" height="16" alt="">
                    Ngày tham gia: &nbsp;
                    <span>{{data.ngay_dang_ky}}</span>
                </div>
                <div class="diachi item01">
                    <img class="iconright" src="https://www.chotot.com/user/static/img/location.png" height="16" alt="">
                    Địa chỉ: &nbsp;
                    <span>{{data.userAddress}}</span>
                </div>
                <div class="mail item01">
                    <img class="iconright" src="https://www.chotot.com/user/static/img/chat.png" height="16" alt="">
                    Email: &nbsp;
                    <span>{{data.userMail}}</span>
                </div>
                <div class="sdt item01">
                    <img class="iconright" src="https://static.chotot.com/storage/marketplace/common/pf_rating_icon.svg"
                        height="16" alt="">
                    Số điện thoại: &nbsp;
                    <span>+84 {{data.userPhone}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center;" class="parent white">
    <div class="card yellow">
        <h3>Tổng Số Sản Phẩm Đã Bán</h3>
        <h1>{{this.count}}</h1>
    </div>
</div>
<h2 style="text-align: center;" >Sản Phẩm Đã Bán Được</h2>
<table id="customers">
    <tr>
      <th>Tên Sản Phẩm</th>
      <th>Giá Sản Phẩm</th>
    </tr>
    <tr *ngFor="let i of profiles" >
      <td>{{i.productName}}</td>
      <td>{{i.productPrice}} VNĐ</td>
    </tr>
  <tr style="margin-top: 10px; margin-left: 10px;" >Tổng số doanh thu đã kiếm được {{this.result}} VNĐ</tr>
    <button (click)="exportAsPDF()" >Tải File PDF</button>
    <button (click)="exportExcel()" >Tải File Excel</button>
</table>