
<div class="div1" >
  <div class ="categogy">

    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/1000.png" alt=""> <br>
            <p>Bất động sản</p>
        </a>
    </li>

    <li class="muc">
        <a [routerLink]="['/xe']" >
            <img class="anh" src="../../../assets/img/category/2000.png" alt=""> <br>
            <p>Xe Cộ</p>
        </a>
    </li>

    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/5000.png" alt=""> <br>
            <p>Đồ Điện Tử</p>
        </a>
    </li>

    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/7000.png" alt=""> <br>
            <p>Đồ Ăn</p>
        </a>
    </li>
  <br>
    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/4000.png" alt=""> <br>
            <p>Giải Trí</p>
        </a>
    </li>

    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/6000.png" alt=""> <br>
            <p>Du Lịch</p>
        </a>
    </li>

    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/13000.png" alt=""> <br>
            <p>Việc Làm</p>
        </a>
    </li>

    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/12000.png" alt=""> <br>
            <p>Thú Cưng</p>
        </a>
    </li>

    <li class="muc">
        <a>
            <img class="anh" src="../../../assets/img/category/14000.png" alt=""> <br>
            <p>Nội Thất</p>
        </a>
    </li>

    <li class="muc">
      <a>
          <img class="anh" src="../../../assets/img/category/9000.png" alt=""> <br>
          <p>Thời Trang</p>
      </a>
  </li>
  </div>

</div>
