.anh{
  width: 84px;
  height: 84px;
}

.muc{
  display: flex;
  list-style-type: none;
  padding: 20px;
}

.categogy{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.categogy:hover {
  cursor: pointer;
}
.div1 {
  margin: 0px auto;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  /* border: solid 0.2px;
  border-radius: 10px; */
}

p {
  text-align: center;
  font-weight: bold;
}

h3 {
  padding: 10px 0px 0px 12px;
}
