.anh{
  width: 84px;
  height: 84px;
}

.muc{
  display: flex;
  list-style-type: none;
  padding: 20px;
}

.categogy{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;

}
.categogy:hover {
  cursor: pointer;
}
.div1 {
  width: 60%;
  margin: auto;
  border: solid 0.2px;
  border-radius: 10px;
}

p {
  text-align: center;
  font-weight: bold;
}

h1 {
  text-align: center;
}
