<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">

<div class="class1">
  <h1>Nhập Thông Tin Sản Phẩm Cần Bán</h1>

<form [formGroup]="form" (submit)="onSubmit()">
  <div class="container">
    <div class="divleft">
      <div>
        <input formControlName="productName" type="text" placeholder="Tên Sản Phẩm"/>
      </div>
      <div>
        <input formControlName="productPrice" type="text" placeholder="Giá Sản Phẩm" [(ngModel)]="docSo" />
        <i *ngIf="this.docSo" ><p>{{this.docSo}}</p></i>
      </div>
      <div>
        <input formControlName="description" type="text" placeholder="Mô Tả Sản Phẩm" />
      </div>
      <div>
        <select formControlName="productAddress">
          <option>Hồ Chí Minh</option>
          <option>Hà Nội</option>
          <option>Đà Năng</option>
          <option>Vũng Tàu</option>
          <option>Tiền Giang</option>
          <option>Trà Vinh</option>
          <option>Vĩnh Long</option>
          <option>Cần Thơ</option>
          <option>Hải Phòng</option>
          <option>Long An</option>
          <option>Bạc Liêu</option>
          <option>Sóc Trăng</option>
          <option>Bình Dương</option>
          <option>Cà Mau</option>
          <option>An Giang</option>
          <option>Đà Lạt</option>
          <option>Bình Thuận</option>
          <option>Ninh Thuận</option>
          <option>Hà Tĩnh</option>
        </select>
      </div>
      <div>
        <select  formControlName="loai_sp">
          <option *ngFor="let category of categories" >{{category.name}}</option>
        </select>
      </div>
    </div>
    <div class="divright">
      <div class="upfile">
        <div>
          <input class="upfile" (change)="onFileSelect($event)" type="file" />
        </div>
        <div *ngIf="imageData" class="anh01">
          <img [src]="imageData" [alt]="form.value.productName" />
        </div>
      </div>

      <div>
        <button type="submit">Đăng Tin</button>
      </div>
    </div>

  </div>


</form>

</div>
