<h1>SẢN PHẨM ĐANG BÁN</h1>
<table style="width:100%">
  <tr>
    <th>Hình Ảnh</th>
    <th>Tên Sản Phẩm</th>
    <th>Người Đăng</th>
    <th>Ngày Đăng</th>
    <th>Giá Sản Phẩm</th>
    <th>Sửa</th>
    <th>Xóa</th>
    <th>Chi Tiết</th>
  </tr>
  <tr *ngFor = "let product of profiles" >
    <td><img [src]="product.imagePath" [alt]="product.productName"></td>
    <td style="text-align: left;" >{{product.productName}}</td>
    <td>{{product.nguoi_dang_sp}}</td>
    <td>{{product.ngay_dang}}</td>
    <td style="text-align: center; color: red; font-weight: 200px;" > <strong>{{product.productPrice}}</strong></td>
    <td [routerLink]="['/update/' + product._id]" class="button"><button mat-flat-button color="warn">Sửa</button></td>
    <td class="button"><button mat-flat-button color="primary">Xóa</button></td>
    <td [routerLink]="['/detail/' + product._id]" class="button"><button style="background-color: rgb(39, 39, 39);" mat-flat-button color="primary">Chi Tiết</button></td>
  </tr>
</table>
<h3>Tổng Sản Phẩm Đang Bán: </h3>
<h3>Tổng Giá Sản Phẩm Đang Bán: </h3>
<button>Download PDF</button>
<button>Download EXCEL</button>
