
<div class="maincontainer">

  <div class="divtopp">
    <div class="divbott">
      <h3>Tổng Sản Phẩm Đang Bán: </h3>
      <h3>Tổng Giá Sản Phẩm Đang Bán: </h3>
      <button (click)="downloadPdf()" >Download PDF</button>
      <button>Download EXCEL</button>
    </div>
    <h2>SẢN PHẨM ĐANG BÁN</h2>
  </div>


    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
              <tr>
                <th>Hình Ảnh</th>
                <th width = "30%">Tên Sản Phẩm</th>
                <th>Người Đăng</th>
                <th>Ngày Đăng</th>
                <th>Giá Sản Phẩm</th>
                <th>Action</th>
            </tr>
            <tr *ngFor = "let product of profiles" >
                <td class="anh00">
                  <img [src]="product.imagePath" [alt]="product.productName">
                </td>
                <td style="text-align: left;" >{{product.productName}}</td>
                <td>{{product.nguoi_dang_sp}}</td>
                <td>{{product.ngay_dang}}</td>
                <td style="text-align: center; color: red; font-weight: 200px;" ><strong>{{product.productPrice}}</strong></td>
                <td  class="button">
                    <button class="crud" [routerLink]="['/update/' + product._id]" style="background-color: rgb(69, 98, 224);" mat-flat-button color="primary">Sửa</button>
                    <button class="crud" style="background-color: rgb(218, 73, 73);" mat-flat-button color="primary" (click)="delete(product)" >Xóa</button> <br>
                    <button class="crud" [routerLink]="['/detail/' + product._id]" style="background-color: rgb(39, 39, 39);" mat-flat-button color="primary">Chi Tiết</button>
                </td>
            </tr>
            <tbody>
        </table>
    </div>
</div>

