<div style="margin-left: 50px;" >
    <h2>Thong ke san pham da dang</h2>
    <p>Nhap thang</p>
    <input type="text" [(ngModel)]="this.month" >
    <p>Nhap nam</p>
    <input type="text" [(ngModel)]="this.year" ><br>
    <button (click)="getData(this.month, this.year)" >Tim kiem</button>
    <h1 *ngIf="this.count">Co {{this.count}} san pham da duoc dang trong {{this.month}}/{{this.year}} </h1>
    <div class="table-wrapper">
        <table id="customers" class="fl-table">
            <thead>
              <tr>
                <th>Hình Ảnh</th>
                <th width = "30%">Tên Sản Phẩm</th>
                <th>Người Đăng</th>
                <th>Ngày Đăng</th>
                <th>Giá Sản Phẩm</th>
                <th>Trạng Thái</th>
            </tr>
            <tr *ngFor = "let product of data" >
                <td class="anh00">
                  <img [src]="product.imagePath" [alt]="product.productName">
                </td>
                <td style="text-align: left;" >{{product.productName}}</td>
                <td>{{product.nguoi_dang_sp}}</td>
                <td>{{product.ngay_dang}}</td>
                <td style="text-align: center; color: red; font-weight: 200px;" ><strong>{{product.productPrice}}</strong></td>
                <td  class="button">{{product.status}}</td>
            </tr>
            <tbody>
        </table>
    </div>
    <button (click)="exportExcel()" >Download excel</button>
</div>