<h1>PHẢN HỒI</h1>
<div class="container">
    <div  class="container ct-listing">
        <div class="ListItem">
            <div class="ListBox">
                <div class="image">
                    <img class="pug" [src]="data.imagePath" alt="{{data.productName}}">
                </div>
                <div class="content">
                    <div class="heading">
                        <div class="title">Tên Sản Phẩm: {{data.productName}}</div>
                        <div class="price">Giá Sản Phẩm: {{data.productPrice}}</div>
                    </div>
                    <div class="footer">
                        <div class="text___1ZBGX" style="max-width: calc(100% - 35px);">
                            <a class="wrapperLink___2G9o3" target="_blank" rel="noopener noreferrer" title="Bán chuyên"
                                style="margin-top: 4px; pointer-events: none; color: rgb(155, 155, 155);">
                                <div class="item___eld8Q" style="float: left;">
                                    <div class="sc-EHOje epvfrs image___34tI0 " width="15px" height="15px">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="textcontent">
        <h3>Gửi tin nhắn đến: <a style="font-weight: bold; font-style: italic;">{{data.nguoi_dang_sp}}</a></h3>
        <form>
            <p style="font-weight: bold;">Tiêu Đề</p>
            <input class="input1" type="text" id="fname" name="fname" placeholder="Nhập tiêu đề..." [(ngModel)]="tieu_de_text" ><br>
            <p style="font-weight: bold;">Nội dung</p>
            <input class="input2" type="text" id="fname" name="fname" placeholder="Nhập tiêu đề..." [(ngModel)]="noi_dung_text" ><br>
        </form>
        <button mat-flat-button color="primary">Hủy</button>
        <button mat-flat-button color="warn" (click)="postMessage()" >Gửi</button>
    </div>
</div>
