body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.divform{
  display: flex;
  justify-content: space-between;
}
.divinput{
  margin: 20px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #F8A400;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

h1 {
    text-align: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-bottom: 80px;
}

.class1 {
  background-image: url(../../../assets/wallpaper.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: rgb(200, 167, 238); */
  padding-bottom: 10px;
  padding-top: 20px;
}

.dkk{
  background: #5c83d8;
  border-radius: 20px;
  width: 110px;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  margin-top: 20px;
  font-weight: 500;
  color: white;
}

.pdk{
  margin-top: 10px;
}

.container-bottom {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
