h1{
  font-weight: 20px;
  text-align: center;
  margin-top: 20px;
}
img {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.divall {
  display: flex;
  margin-top: 0.1px;
}
table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.button {
  text-align: center;
}
td {
  text-align: center;
}

