<div class="divall">
  <table>
    <tr>
      <th>Hình Ảnh</th>
      <th>Tên Sản Phẩm</th>
      <th>Giá sản Phẩm</th>
      <th>Địa Chỉ</th>
      <th>Người Bán</th>
      <th>Ngày Đăng</th>
      <th>Sửa</th>
      <th>Xóa</th>
      <th>Chi tiết</th>
    </tr>

        <tr *ngFor="let profile of profiles"  >
      <td><img [src]="profile.imagePath" [alt]="profile.productName"></td>
      <td>{{profile.productName}}</td>
      <td style="color: rgb(190, 10, 10); font-weight: bold;" >{{profile.productPrice}}</td>
      <td>{{profile.productAddress}}</td>
      <td> <p [routerLink]="['/user/608c3e4  bcca0d2594e873f2b']" >{{profile.nguoi_dang_sp}}</p> </td>
      <td>{{profile.ngay_dang}}</td>
      <td class="button" ><button [routerLink]="['/update/' + profile._id]" >Sửa</button></td>
      <td class="button" ><button (click)="profilesService.deleteProduct(profile._id)" >Xóa</button></td>
      <td class="button" ><button  [routerLink]="['/viewdetail/' + profile._id]" (click)="profilesService.getDetail(profile._id)" >Chi tiết</button></td>
    </tr>
  </table>
</div>
<div>
  <h3>Tổng số sản phẩm đang bán là: {{count}}</h3>
  <h3>Tổng số tiền sản phẩm đang bán là: {{price}}</h3>
</div>
