img {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div1 {
  width: 5%;
  margin: auto;
}
.div2 {
  width: 95%;
  border: solid 0.2px;
}
.divall {
  display: flex;
  margin-top: 0.1px;
}
