<div class="div-all" >
  <div class="top-nav">
    <button (click)="onPressUser()" >Thông Tin Khách Hàng</button><br>
    <button (click)="onPressProduct()" >Thông Tin Sản Phẩm</button><br>
    <button (click)="onPressCategory()" >Thông Tin Danh Mục</button><br>
    <button>Thông Tin Quảng Cáo</button><br>
    <button>Thêm Sản Phẩm</button><br>
    <button (click)="onPressDisplayInputcCategory()" >Thêm Danh Mục</button><br>
    <button>Thêm Quảng Cáo</button><br>
    <button (click)="onPressWait()" >Sản Phẩm Chờ Duyệt</button><br>
    <button>Sản Phẩm Đã Bán</button><br>
    <button>Mail Hỏi Đáp</button><br>
  </div>
  <div *ngIf="displayUser" >
    <app-show-users></app-show-users>
  </div>
  <div class="product" *ngIf="displayProduct" >
    <app-show-product></app-show-product>
  </div>
  <div *ngIf="displayCategory" >
    <app-categories></app-categories>
  </div>
  <div *ngIf="displayInputcCategory" >
    <app-input-category></app-input-category>
  </div>
  <div *ngIf="displayWait" >
    <app-san-pham-cho-duyet></app-san-pham-cho-duyet>
  </div>
  <!-- <app-bar-chart></app-bar-chart> -->
</div>
