<div class="div-all" >
  <div class="top-nav">
    <button class="button" mat-flat-button color="warn" routerLink="alluser" routerLinkActive="active" >Thông Tin Khách Hàng</button><br>
    <button class="button" mat-flat-button color="warn" routerLink="sanphamdangban" >Sản Phẩm Đang Bán</button><br>
    <button class="button" mat-flat-button color="warn" routerLink="sanphamchoduyet" routerLinkActive="active" >Sản Phẩm Chờ Duyệt</button><br>
    <button class="button" mat-flat-button color="warn" routerLink="sanphamdaban" routerLinkActive="active" >Sản Phẩm Đã Bán</button><br>
    <button class="button" mat-flat-button color="warn" >Thêm Quảng Cáo</button><br>
    <button class="button" mat-flat-button color="warn" >Thông Tin Quảng Cáo</button><br>
    <button class="button" mat-flat-button color="warn" routerLink="inputcategory" routerLinkActive="active" >Thêm Danh Mục</button><br>
    <button class="button" mat-flat-button color="warn" routerLink="allcategories" >Thông Tin Danh Mục</button><br>
    <button class="button" mat-flat-button color="warn" >Mail Hỏi Đáp</button><br>
  </div>
  <div style="display: flex;" >
    <h3>Tổng Số Người Dùng</h3>
    <h3>Tổng Số Sản Phẩm Đang Bán</h3>
    <h3>Tổng Số Sản Phẩm Đã Bán</h3>
    <h3>Tổng Số Sản Phẩm Đang Chờ Duyệt</h3>
    <h3>Tổng Số Tin Nhắn Chờ</h3>
  </div>
</div>