<form  #userPost ="ngForm" (ngSubmit)="this.UsersService.onSubmit(userPost.value)"  action="/action_page.php">
  <div class="container">
    <h1>Đăng Ký</h1>
    <h3>Vui lòng điền đầy đủ các thông tin để tạo tài khoản.</h3>
    <hr>

    <label for="accout_id"><b>Tên Tài Khoản</b></label>
    <input type="text" placeholder="Nhập tên tài khoản" name="userAccount"  ngModel >

    <label for="psw"><b>Mật Khẩu</b></label>
    <input type="password" placeholder="Nhập mật khẩu" name="userPassword"  ngModel >


    <label for="name"><b>Tên</b></label>
    <input type="text" placeholder="Nhập tên" name="userName"  ngModel >

    <label for="phone"><b>Số Điện Thoại</b></label>
    <input type="text" placeholder="Nhập số điện thoại" name="userPhone"  ngModel >

    <label for="address"><b>Địa Chỉ</b></label>
    <input type="text" placeholder="Nhập địa chỉ" name="userAddress"  ngModel >

    <hr>
    <p>Liên hệ trực tiếp với chúng tôi. <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" value="Submit" class="registerbtn">Đăng Ký</button>
  </div>

  <div class="container signin">
    <p>Bạn đã có tài khoản ? <a>Đăng Nhập</a>.</p>
  </div>
</form>
