<div class="contentt">
  <div class="container">

    <div class="maincontainer">
      <h2>danh mục</h2>
      <div class="table-wrapper">
          <table class="fl-table">
              <thead>
                <tr>
                  <th width = "30%">Hình Ảnh</th>
                  <th width = "25%">Tên Sản Phẩm</th>
                  <th width = "15%">Trạng Thái</th>
                  <th width = "30%">Action</th>
                </tr>
                <tr *ngFor="let category of categories">
                  <td class="anh00">
                    <img [src]="category.imagePath" [alt]="category.name">
                  </td>
                  <td>{{category.name}}</td>
                  <td>{{category.status}}</td>
                  <td class="buttonn">
                    <button class="crud" *ngIf="category.status == 'Tắt'" (click)="turnOn(category)" mat-flat-button
                    color="primary">Bật</button>
                    <button class="crud" *ngIf="category.status == 'Bật'" (click)="turnOff(category)" mat-flat-button
                    color="warn">Tắt</button>
                    <button class="crud" style="margin-left: 30px; color: white; background-color: rgb(39, 39, 39)" mat-flat-button
                    (click)="delete(category)">Xóa</button>
                  </td>
                </tr>
              <tbody>
          </table>
      </div>
    </div>

    <div class="taodanhmucc">
      <h2>Tạo Danh Mục Sản Phẩm</h2>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div>
          <input formControlName="name" type="text" placeholder="Enter name..." />
        </div> <br>
        <div class="selectt">
          <input (change)="onFileSelect($event)" type="file" />
        </div><br>
        <div class="inimg" *ngIf="imageData">
          <img class="immg" [src]="imageData" [alt]="form.value.name" />
        </div><br>
        <div>
          <button type="submit">Tạo Danh Mục</button>
        </div>
      </form>
    </div>

  </div>
</div>
