
* {
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 14px; */
  box-sizing: border-box;
}

.cYlzLi {
  margin: 20px auto 0;
  width: 76%;
  background: transparent;
}

@media (max-width: 768px){
  .jIaCnJ {
      padding: 12px 0px 0px;
  }
}

.jIaCnJ {
  background: transparent;
  margin-top: 12px;
}

@media (max-width: 768px){
  .kvbjfn {
      padding: 0px 0px 12px 12px;
  }
}


.cALlJM {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid rgb(244, 244, 244);
}

.eIgKqv {
  border-bottom: 1px solid rgb(244, 244, 244);
  border-right: 1px solid rgb(244, 244, 244);
  padding: 12px;
  flex-basis: 20%;
}

@media (max-width: 768px){
  .eIgKqv {
      flex-basis: 25%;
  }
}

@media (max-width: 540px){
  .eIgKqv {
      flex-basis: 50%;
  }
}


@media only screen and (max-width: 767px){
  .item___DjEGG {
      border: 1px solid #f4f4f4;
      border-top: none;
  }
}

.item___DjEGG {
  overflow: hidden;
  background: #fff;
  padding: 20px;
}

.item___DjEGG .wrapperLink___22Hpy {
  position: relative;
  display: block;
  height: 100%;
}

.thumbnailWrapper___927DE {
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px){
  .thumbnailWrapper___927DE .thumbnailImg___3UKHb {
      width: 100%;
      height: 100%;
  }
}

.thumbnailWrapper___927DE .thumbnailImg___3UKHb {
  position: relative;
  background: url(https://static.chotot.com/storage/default_images/c2c_ad_image.jpg) 50% no-repeat;
  background-size: cover!important;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
}

a {
  background-color: transparent;
}


.thumbnailWrapper___927DE .thumbnailImg___3UKHb img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

img {
  border-style: none;
}

.caption___3JllO {
  padding-bottom: 8px;
  position: relative;
}

.adTitleGrid___mC6FC {
  color: #222;
  font-size: 14px!important;
  line-height: 1.43!important;
  text-overflow: unset;
  text-decoration: none;
  white-space: unset;
  margin-top: 8px;
  height: 40px!important;
  display: block;
}

@media only screen and (max-width: 767px){
  .adTitle___3Dxjs, .adTitleGrid___mC6FC {
      font-size: 14px;
      line-height: 1.43;
      max-height: 40px;
  }
}

.adTitle___3Dxjs, .adTitleGrid___mC6FC {
  color: #222;
  margin: 0;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 400;
  overflow: hidden;
}

a {
  background-color: transparent;
}

.caption___3JllO .price___1yCK1 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.33;
  color: #d0021b;
  display: inline-block;
  margin: 2px 4px 0 0;
}

.thumbnailWrapper___927DE .thumbnailImg___3UKHb:after {
  display: block;
  padding-top: 100%;
  content: "";
}

.footer___2QdZm {
  color: #9b9b9b;
  bottom: -6px;
  width: 100%;
  left: 0;
}

a {
  background-color: transparent;
}

.image___3OzO2.round___2BtjT {
  border-radius: 50%;
}

.footer___2QdZm a img {
  margin-top: 1px;
  margin-right: 3px;
  vertical-align: middle;
}
.image___3OzO2 {
  -o-object-fit: cover;
  object-fit: cover;
}

img {
  border-style: none;
}

.deviderWrapper___3umBa {
  display: inline-block;
}

@media only screen and (max-width: 767px){
  .footer___2QdZm .adItemPostedTime___2i72W {
      font-size: 10px;
      margin-top: 1px;
  }

}

.footer___2QdZm .adItemPostedTime___2i72W {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.footer___2QdZm .adItemPostedTime___2i72W .text___19FS4 {
  font-size: 10px;
  margin: 0 3px;
}

.footer___2QdZm .adItemPostedTime___2i72W.location___2mJlP {
  max-width: 65px;
}

@media only screen and (max-width: 767px){
  .footer___2QdZm .adItemPostedTime___2i72W {
      font-size: 10px;
      margin-top: 1px;
  }
}

.footer___2QdZm .adItemPostedTime___2i72W {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.footer___2QdZm .adItemPostedTime___2i72W.location___2mJlP .text___19FS4 {
  margin-right: 0;
}

.footer___2QdZm .adItemPostedTime___2i72W .text___19FS4 {
  font-size: 10px;
  margin: 0 3px;
}

h1 {
  text-align: center;
}


.app-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
}
