<h1>PHẢN HỒI</h1>
<div>
    <div  class="container ct-listing">
        <div class="ListItem">
            <div class="ListBox">
                <div class="image">
                    <img class="pug" [src]="data.imagePath" alt="{{data.productName}}">
                </div>
                <div class="content">
                    <div class="heading">
                        <div class="title">Tên Sản Phẩm: {{data.productName}}</div>
                        <div class="price">Giá Sản Phẩm: {{data.productPrice}}</div>
                    </div>
                    <div class="footer">
                        <div class="text___1ZBGX" style="max-width: calc(100% - 35px);">
                            <a class="wrapperLink___2G9o3" target="_blank" rel="noopener noreferrer" title="Bán chuyên"
                                style="margin-top: 4px; pointer-events: none; color: rgb(155, 155, 155);">
                                <div class="item___eld8Q" style="float: left;">
                                    <div class="sc-EHOje epvfrs image___34tI0 " width="15px" height="15px">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Gửi tin nhắn đến: {{data.nguoi_dang_sp}}</h3>
        <form>
            <textarea placeholder="Some Text..." ></textarea>
        </form>
        <button mat-flat-button color="primary">Hủy</button>
        <button mat-flat-button color="warn">Gửi</button>
    </div>
</div>