<h1>Thông Tin Khách Hàng</h1>
<table style="width:100%">
  <tr>
    <th>Tên Tài Khoản</th>
    <th>Tên Khách Hàng</th>
    <th>Email</th>
    <th>Số Điện Thoại</th>
    <th>Địa Chỉ</th>
    <th>Xóa</th>
    <th>Chi Tiết</th>
  </tr>
  <tr *ngFor = "let i of user" >
    <td>{{i.userAccount}}</td>
    <td>{{i.userName}}</td>
    <td>trong.phamtranduc@gmail.com</td>
    <td>{{i.userPhone}}</td>
    <td>{{i.userAddress}}</td>
    <td class="button"><button>Xóa</button></td>
    <td class="button"><button>Chi Tiết</button></td>
  </tr>
</table>
<h3>Tổng số người dùng là: {{countUser}}</h3>
