<div class="main-container">
  <div id="table" >
    <h1>Thông Tin Khách Hàng</h1>
    <table  style="width:100%">
      <tr>
        <th>Tên Tài Khoản</th>
        <th>Tên Khách Hàng</th>
        <th>Email</th>
        <th>Số Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Ngày Đăng Ký</th>
        <th>Quyền Hạng</th>
      </tr>
      <tr *ngFor = "let i of user" >
        <td>{{i.userAccount}}</td>
        <td>{{i.userName}}</td>
        <td>{{i.userMail}}</td>
        <td>+84 {{i.userPhone}}</td>
        <td>{{i.userAddress}}</td>
        <td>{{i.ngay_dang_ky}}</td>
        <td>{{i.role}}</td>
      </tr>
    </table>
  </div>
<h3>Tổng số người dùng là: {{countUser}}</h3>
<button  (click)="exportAsPDF()" >Download PDF</button>
<button >Download Excel</button>
</div>