<!-- <div *ngIf="profiles.length > 0"> -->
    <div *ngFor="let profile of profiles" class="AdItem__Item-sc-1ewf82b-0 eIgKqv item___DjEGG" >
        <div [routerLink]="['/detail/' + profile._id]" class="wrapperLink___22Hpy">
            <div class="thumbnailWrapper___927DE">
                <a target="_blank" rel="noopener noreferrer" class="thumbnailImg___3UKHb" >
                    <img [src]="profile.imagePath" [alt]="profile.productName">
                </a>
            </div>
            <div class="caption___3JllO">
                <!-- <a (click)="profilesService.getDetail(profile._id)" [routerLink]="['/viewdetail/'+profile.loai_sp+'/' + profile._id]" target="_blank" rel="noopener noreferrer" class="adTitleGrid___mC6FC">
                {{profile.productName}}
                </a> -->
                <a  target="_blank" rel="noopener noreferrer" class="adTitleGrid___mC6FC">
                    {{profile.productName}}
                    </a>
                <div>
                    <span class="price___1yCK1">{{profile.price}} VNĐ</span>
                </div>
            </div>
            <div class="footer___2QdZm">
                <a rel="noopener noreferrer" target="_blank">
                    <img class="image___3OzO2 round___2BtjT" height="16" width="16" src="https://static.chotot.com/storage/chotot-icons/svg/user.svg" alt="">
                </a>
                <div class="deviderWrapper___3umBa"></div>
                <div class="adItemPostedTime___2i72W">
                    <span class="text___19FS4">{{profile.nguoi_dang_sp}}</span>
                </div>
                <div class="deviderWrapper___3umBa"></div>
                <span class="adItemPostedTime___2i72W location___2mJlP">
                    <span class="text___19FS4">{{profile.productAddress}}</span>
                </span>
            </div>
        </div>
    </div>

    <p class="xemthemm" (click)="get()" >Xem Thêm</p>
