  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo" routerLink="" >STORE</label>
    <ul>
      <li><a class="active" routerLink="">Trang Chủ</a></li>
      <!-- <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Feedback</a></li> -->
      <li><a  [routerLink]="['/input']" *ngIf="this.userInfo">Đăng Tin</a></li>
      <li><a  [routerLink]="['/signin']" *ngIf="!this.userInfo">Đăng Nhập</a></li>
      <li *ngIf="this.userInfo" > <button mat-button [matMenuTriggerFor]="beforeMenu">{{this.userInfo.userAccount}}</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button [routerLink]="['/user/' + this.userInfo.userAccount]" mat-menu-item >Thông Tin Cá Nhân</button>
          <button mat-menu-item>Đã Thích</button>
          <button mat-menu-item>Tin Nhắn</button>
          <button *ngIf="this.userInfo.userAccount == 'admin'" mat-menu-item [routerLink]="['/admin']" >Quản Lý</button>
          <button mat-menu-item (click)="signOut()">Đăng Xuất</button>
        </mat-menu></li>
    </ul>
  </nav>
