<div class="div02">
  <div class="contain02">
    <h4 class="title4">
      Tin Đang Đăng
      <span>-
        <!-- -->{{profilesService.count}}
        <!-- --> tin
      </span>
    </h4>
  </div>
  <div *ngFor="let product of profiles" class="div-all">
    <div>
      <img [src]="product.imagePath" [alt]="product.productName">
    </div>
    <div>
      <h4>Tên Sản Phẩm: {{product.productName}}</h4>
      <p>Giá Sản Phẩm : {{product.productPrice}} VNĐ </p>
      <p>Ngày Đăng :</p>
      <button>Xóa</button>
    </div>
  </div>
  <h5><strong>Tổng Số Tiền : {{profilesService.price}}</strong></h5>
</div>
