img {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.divall {
  display: flex;
  margin-top: 0.1px;
}
table, td, th {
  border: 1px solid black;
}

table {
  width: 40%;
  border-collapse: collapse;
  margin: auto;

}
.button {
  text-align: center;
}
td {
  text-align: center;
}
.tong {
  width: 100%;
  text-align: center;
}
