<div>
  <div class="div01">
    <div class="left01">
        <div class="containleft">
            <div class="anh01">
                <img class="avt" src="../../../../assets/avatar.svg" alt="{{data.userName}}" >
            </div>
            <div class="ten01">
                <span class="hoten01 inf01">
                  {{data.userName}} 
                  <span style="color: red;" >{{data.role}}</span>
                </span>
                <button [routerLink]="['/userupdate/' + data.userAccount]" >Sửa</button>
                <button style="margin-top: 10px;" [routerLink]="['/doanhthu/' + data.userAccount]" >Doanh Thu</button>
                <!-- <div [routerLink]="['/userupdate/' + data._id]" class="chinhsua inf01">
                    <button class="btne">Chỉnh sửa trang cá nhân</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="right01">
        <div class="containright">
            <div class="ngthamgia item01">
                <img class="iconright" src="https://www.chotot.com/user/static/img/calendar.png" height="16" alt="">
                Ngày tham gia: &nbsp;
                <span>{{data.ngay_dang_ky}}</span>
            </div>
            <div class="diachi item01">
                <img class="iconright" src="https://www.chotot.com/user/static/img/location.png" height="16" alt="">
                Địa chỉ: &nbsp;
                <span>{{data.userAddress}}</span>
            </div>
            <div class="mail item01">
                <img class="iconright" src="https://www.chotot.com/user/static/img/chat.png" height="16" alt="">
                Email: &nbsp;
                <span>{{data.userMail}}</span>
            </div>
            <div class="sdt item01">
                <img class="iconright" src="https://static.chotot.com/storage/marketplace/common/pf_rating_icon.svg" height="16" alt="">
                Số điện thoại: &nbsp;
                <span>+84 {{data.userPhone}}</span>
            </div>
        </div>
    </div>
  </div>
</div>
