<h1>Sửa Sản Phẩm</h1>
<form #userPost ="ngForm"style="text-align: center;" >
  <input type="text" name="_id" placeholder="Mã Sản Phẩm" ngModel > <br>
  <input type="text" name="productImage" placeholder="Tên Ảnh Sản Phẩm" ngModel > <br>
  <input type="text" name="productName" placeholder="Tên Sản Phẩm" ngModel > <br>
  <input type="text" name="productPrice" placeholder="Giá Sản Phảm" ngModel > <br>
  <input type="text" name="description" placeholder="Mô tả" ngModel > <br>
  <input type="text" name="productAddress" placeholder="Địa Chỉ" ngModel > <br>
  <input type="file" id="img" name="img" accept="image/*">
</form>
