<form action="/action_page.php">
    <label for="fname">id sản phẩm: <p>{{data._id}}</p></label>
    <label for="fname">Tên Sản Phẩm:</label>
    <input type="text"  name="productName" placeholder="{{data.productName}}" ><br><br>
    <label for="lname">Giá Sản Phẩm:</label>
    <input type="text"  name="productPrice" placeholder="{{data.productPrice}}" ><br><br>
    <label for="lname">Mô Tả:</label>
    <input type="text"  name="productPrice" placeholder="{{data.description}}" ><br><br>
    <label for="lname">Địa Chỉ:</label>
    <input type="text"  name="productPrice" placeholder="{{data.productAddress}}" ><br><br>
    <input type="submit" value="Submit">
  </form>
