<h1>SỬA SẢN PHẨM</h1>

<form >
  <div class="container">
    <div class="divleft">
      <div>
        <input type="text"  [(ngModel)]="data.productName" name="name">
      </div>
      <div>
        <input   type="text" [(ngModel)]="data.productPrice" name="price"/>
      </div>
      <div>
        <input   type="text" [(ngModel)]="data.productAddress" name="address" />
      </div>
      <div>
        <input   type="text" [(ngModel)]="data.description" name="description" />
      </div>
      <div>
        <input  type="text" [(ngModel)]="data.loai_sp" name="loai_sp" />
      </div>
      <div>
        <button>Hủy</button>
        <button style="margin-left: 20px;" type="submit" (click)="update(data._id)" >Lưu</button>
      </div>
    </div>
    <div class="divright">
      <div class="upfile">
          <img [src]="data.imagePath" alt = "{{data.productName}}">
          <h2>{{data.productName}}</h2>
      </div>
    </div>
  </div>
</form>
