.anh{
  width: 84px;
  height: 84px;
}

.muc{
  display: flex;
  list-style-type: none;
  /* margin-top: 15px; */
  /* margin-left: 10px;
  margin-right: 10px */
}

.categogy{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;

}
.categogy:hover {
  cursor: pointer;
}
.div1 {
  margin: 5px auto 5px;
  width: 71%;
  background-color: white;
  justify-content: center;
  /* border: solid 0.2px; */
  border-radius: 10px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 10px;
}

p {
  text-align: center;
  font-weight: bold;
}

h3 {
  padding: 10px 0px 0px 12px;
}
