    <div class = "card-wrapper">
      <div class = "card">
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img [src]="data.imagePath" alt = "{{data.productName}}">
            </div>
          </div>
        </div>
        <div class = "product-content">
          <h2 class = "product-title">{{data.productName}}</h2>
          <a href = "#" class = "product-link">{{data.loai_sp}}</a>

          <div class = "product-price">
            <p class = "new-price">Giá Sản Phẩm: <span>{{data.productPrice}}</span></p>
            <p class = "new-price">Địa Chỉ: {{data.productAddress}}</p>
          </div>

          <div class = "product-detail">
            <h2>Thông Tin Sản Phẩm: </h2>
            <p>{{data.description}}</p>
          </div>
        </div>
      </div>
    </div>
