    <div class = "card-wrapper">
      <div class = "card">
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img [src]="data.imagePath" alt = "{{data.productName}}">
            </div>
          </div>
        </div>
        <div class = "product-content">
          <h2 class = "product-title">{{data.productName}}</h2>
          <a href = "#" class = "product-link">{{data.loai_sp}}</a>

          <div class = "product-price">
            <p class = "new-price">Giá Sản Phẩm: <span>{{data.productPrice}}</span></p>
            <p class = "new-price">Địa Chỉ: {{data.productAddress}}</p>
          </div>

          <div class = "product-detail">
            <h2>Thông Tin Sản Phẩm: </h2>
            <p>{{data.description}}</p>
          </div>

          <hr>

          <div class="user">

            <div class="user-inf">
              <div class="avatar">
                <img src="https://www.chotot.com/user/static/img/avatar.svg" alt="">
              </div>
              <div class="thongtin">
                <div class="user-name">
                  {{data.nguoi_dang_sp}}
                </div>
                <div class="user-page">
                  <button type="button" class="btviewpage">Xem trang</button>
                </div>
              </div>
            </div>

            <br>
            <div class="user-btn phone">
              <span class="btn">
                <img src="https://static.chotot.com.vn/storage/chotot-icons/svg/white-phone.svg" class="icon">
                088777322
              </span>
              <span class="bamd">BẤM ĐỂ HIỆN SỐ</span>
            </div>

            <br>

            <div class="user-btn chat">
              <span class="btn">
                <img src="https://static.chotot.com.vn/storage/chotot-icons/png/chat_green.png"  class="icon">
              </span>
              <span >Liên hệ với người bán</span>
            </div>

          </div>

        </div>
      </div>
    </div>
<hr>
<h2>Các Sản Phẩm Cùng Loại Vừa Đăng</h2>