<h1>Nhập Sản Phẩm Bạn Muốn Bán</h1>
<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <input formControlName="productName" type="text" placeholder="Tên Sản Phẩm" />
  </div>
  <div>
    <input formControlName="productPrice" type="text" placeholder="Giá Sản Phẩm" />
  </div>
  <div>
    <input formControlName="description" type="text" placeholder="Mô Tả Sản Phẩm" />
  </div>
  <div>
    <select formControlName="productAddress">
      <option>Hồ Chí Minh</option>
      <option>Hà Nội</option>
      <option>Đà Năng</option>
      <option>Vũng Tàu</option>
      <option>Tiền Giang</option>
      <option>Trà Vinh</option>
      <option>Vĩnh Long</option>
      <option>Cần Thơ</option>
      <option>Hải Phòng</option>
      <option>Long An</option>
      <option>Bạc Liêu</option>
      <option>Sóc Trăng</option>
      <option>Bình Dương</option>
      <option>Cà Mau</option>
      <option>An Giang</option>
      <option>Đà Lạt</option>
      <option>Bình Thuận</option>
      <option>Ninh Thuận</option>
    </select>
  </div>
  <div>
    <select  formControlName="loai_sp">
      <option *ngFor="let category of categories" >{{category.name}}</option>
    </select>
  </div>
  <div>
    <input (change)="onFileSelect($event)" type="file" />
  </div>
  <div *ngIf="imageData">
    <img [src]="imageData" [alt]="form.value.productName" />
  </div>
  <div>
    <button type="submit">Đăng Tin</button>
  </div>
</form>
