<div class="div02">

  <div class="contain02">
    <h4 class="title4">
      Tin Đang Chờ Duyệt
      <span>-
      {{count}}
      tin
      </span>
    </h4>
  </div>

  <div *ngFor="let product of profiles" class="div-all">
    <div class="anhh">
      <img [src]="product.imagePath" [alt]="product.productName">
    </div>
    <div>
      <h4>Tên Sản Phẩm : {{product.productName}}</h4>
      <p style="color: black;" >Ngày Đăng : {{product.ngay_dang}}</p>
      <p>Giá Sản Phẩm : {{product.price}} VNĐ</p>
      <div class="btnn">
        <button mat-flat-button color="primary" class="button11" (click)="delete(product)" >Xóa</button>
      <button mat-flat-button color="warn" [routerLink]="['/update/' + product._id]" class="button11" >Sửa</button>
      </div>
    </div>
  </div>

</div>
