input[type=text]{
    width:50%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:15px;
    box-sizing:border-box;
    transition:.3s;
  }

  input[type=text]:focus{
    border-color:rgb(1, 6, 11);
  }


form {
  margin-bottom: 100px;
  margin-top: 0.5%;
}
h1 {
    margin-top: 50px;
    text-align: center;
}
