<div class="div02">
  <div class="contain02">
    <h4 class="title4">
      Tin Đang Chờ Duyệt
      <span>-
      {{count}}
      tin
      </span>
    </h4>
  </div>
  <div *ngFor="let product of profiles" class="div-all">
    <div class="anhh">
      <img [src]="product.imagePath" [alt]="product.productName">
    </div>
    <div>
      <h4>Tên Sản Phẩm : {{product.productName}}</h4>
      <p style="color: black;" >Ngày Đăng : {{product.ngay_dang}}</p>
      <p>Giá Sản Phẩm : {{product.productPrice}} VNĐ</p>
      <div class="btnn">
        <button class="button11" >Xóa</button>
      <button class="button11" >Sửa</button>
      </div>

    </div>
  </div>
  <h5><strong>Tổng Số Tiền : {{price}} VNĐ</strong></h5>
</div>
