<h1>SỬA SẢN PHẨM</h1>

<form >
  <div class="container">
    <div class="divleft">
      <div>
        <input type="text"  [(ngModel)]="data.productName" name="name">
      </div>
      <div>
        <input   type="text" [(ngModel)]="data.productPrice" name="price"/>
      </div>
        <div>
        <select [(ngModel)]="data.productAddress" name="address">
          <option>Hồ Chí Minh</option>
          <option>Hà Nội</option>
          <option>Đà Năng</option>
          <option>Vũng Tàu</option>
          <option>Tiền Giang</option>
          <option>Trà Vinh</option>
          <option>Vĩnh Long</option>
          <option>Cần Thơ</option>
          <option>Hải Phòng</option>
          <option>Long An</option>
          <option>Bạc Liêu</option>
          <option>Sóc Trăng</option>
          <option>Bình Dương</option>
          <option>Cà Mau</option>
          <option>An Giang</option>
          <option>Đà Lạt</option>
          <option>Bình Thuận</option>
          <option>Ninh Thuận</option>
          <option>Hà Tĩnh</option>
        </select>
      </div>
      <div>
        <select [(ngModel)]="data.loai_sp"  name='loai_sp'>
          <option *ngFor="let category of categories" >{{category.name}}</option>
        </select>
      </div>
      <div>
        <input   type="text" [(ngModel)]="data.description" name="description" />
      </div>
      <div>
        <button [routerLink]="['/user/' + data.nguoi_dang_sp]" >Hủy</button>
        <button style="margin-left: 20px;" type="submit" (click)="update(data._id)" >Lưu</button>
      </div>
    </div>
    <div class="divright">
      <div class="upfile">
          <img [src]="data.imagePath" alt = "{{data.productName}}">
          <h2>{{data.productName}}</h2>
      </div>
    </div>
  </div>
</form>
