<h1>SỬA THÔNG TIN</h1>

<form>
    <div class="container">
        <div class="divleft">
            <div>
                <h2>Tên Tài Khoản : {{data.userAccount}}</h2>
            </div>
            <div>
                <input formControlName="productName" type="text" placeholder="{{data.userName}}" />
            </div>
            <div>
                <input formControlName="description" type="text" placeholder="{{data.userMail}}" />
            </div>
            <div>
                <input formControlName="productPrice" type="text" placeholder="+84 {{data.userPhone}}" />
            </div>
            <div>
                <input formControlName="address" type="text" placeholder="{{data.userAddress}}" />
            </div>
            <div>
                <h3>Ngày Đăng Ký : {{data.ngay_dang_ky}}</h3>
            </div>
            <div>
                <button>Hủy</button>
                <button style="margin-left: 20px;" type="submit">Lưu</button>
            </div>
        </div>
    </div>
</form>