.class1 {
    background-image: url(../../../assets/wallpaper.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgb(200, 167, 238); */
    padding-bottom: 10px;
    padding-top: 20px;
  }